:8080

root * /app
encode zstd gzip
php_server
file_server

# (facultatif) toutes les URLs non-fichier vers index.php
# @notFile { not file }
# rewrite @notFile /index.php

# (facultatif) masquer fichiers sensibles
@hidden { path /.env* /Caddyfile /Dockerfile }
respond @hidden 404
