:8080 {
    # On définit les variables d'environnement pour PHP
    # C'est la partie la plus importante pour corriger l'erreur
    php_server {
        env MYSQLHOST {{env "MYSQLHOST"}}
        env MYSQLDATABASE {{env "MYSQLDATABASE"}}
        env MYSQLPASSWORD {{env "MYSQLPASSWORD"}}
        env MYSQLPORT {{env "MYSQLPORT"}}
        env MYSQLUSER {{env "MYSQLUSER"}}
    }

    # On garde la règle de sécurité que nous avions ajoutée
    header Content-Security-Policy "script-src 'self' 'unsafe-inline';"
}